p Dear User,
p Return document received from #{orgName}
include includes/package_basic_detail.pug
div
  p
    b Return Document Name
    br
    | #{returnDocName}
include includes/pitstop_login.pug
include includes/footer.pug