p Dear User,
p You have received a request from #{orgName} to provide data for a package.
include includes/package_basic_detail.pug
div
  p
    b Data Template Name
    br
    | #{templateName}
include includes/pitstop_login.pug
include includes/footer.pug
