p Dear User,
p Your package has been declined by #{orgName}.
include includes/package_basic_detail.pug
div
  p
    b Message
    br
    i #{message}
include includes/pitstop_login.pug
include includes/footer.pug
